
    html,
    body {
    margin: 0;
    height: 100%;
    }
    body {
    overflow-x: hidden;
    }

    h1,
    h2 {
    text-align: center;
    }

    .full-screen {
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    }
    
    a:hover{
        text-decoration: none;        
        transition:all 1s ease-in-out;
    }

    hr{
        border: 1px solid black;
    }

    #intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    #masthead {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 9999;
    }
    #masthead a {
    padding: 1rem 2rem;
    }

    .bg01{
        background-image: url(images/bg01.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }



    #panels #panels-container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0;
    overflow: hidden;
    background-color: #ddd;
    width: 500%;
    overflow-x: auto;
    }
    #panels #panels-container .panel {
    color: var(--color-just-black);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    }
    #panels #panels-container .panel img {
    max-width: 100%;
    height: auto;
    display: block;
    }
    #panels #panels-container .panel .panels-navigation {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    }
    #panels #panels-container .panel .anchor-panel,
    #panels #panels-container .panel .nav-panel {
    text-transform: uppercase;
    margin-right: 2rem;
    }
    #panels #panels-container .panels-navigation {
    position: absolute;
    width: 100%;
    bottom: 2rem;
    right: 2rem;
    }

    a {
    color: var(--color-just-black)
    }

    .services-ticker-block {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    }

    .stb_line_single {
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 50px;
    will-change: transform;
    display: flex;
    flex-direction: row;
    }
    .stb-item {
    padding: 0;
    display: inline-block;
    margin-right: 5rem;
    letter-spacing: 0.3rem;
    text-decoration: none;
    }

    .sbt-img{
        border-radius: 35px;
        transform:scale(1,1);transition: all 1s ease-out;
    }

    .sbt-img:hover{
        border-radius: 35px;
        transform: scale(1.1,1.1);
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    li {
        float: left;
    } 
    li a {
        display: block;
        color: black;
        text-align: center;
        margin: 13px;
        text-decoration: none;
    } 
    li a:hover {
        color:  #FFB90F;
        text-decoration: none;
        transition:all .3s ease-in-out;
    }

    .logo{
        width: 50px;
        margin: 0;
        padding: 0;
    }



    .about {
        width: 100%;
        max-width: 940px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 100px;
    }
    
    .about:medium {
        max-width: 728px;
    }
    
    .about:tiny {
        max-width: none;
    }
    
    .about-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .about-div:medium {
        margin-bottom: -40px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .about-div-p {
        display: flex;
        max-width: 46%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .about-div-p:medium {
        max-width: 100%;
        margin-bottom: 40px;
    }
    
    .about-title {
        display: flex;
    }
    
    .about-p1 {
        display: block;
        margin-bottom: 0px;
        margin-left: 20px;
        padding-top: 20px;
        font-weight: 700;
        text-align: right;
    }
    
    .about-p2 {
        margin-bottom: 24px;
    }
    
    .img{
        width: 43vw;
    }
    
    .card-position{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    .card-div{
        margin-top: 6%;
        display: flex;
        flex-direction: row;
    }

    .card {
        transition: 0.3s;
        width: 25%;
        height: 300px;
        padding: 5px;
        border-color: #111;
        border-style: solid;
        border-width: 2px;
        margin: 10px;
    }
    
    .card01 {
        padding: 10px -10px 5px 5px;
        font-size: medium;
    }
    .card02 {
        padding: 10px;
        font-size: small;
    }
    
    .card-a{
        float: right;
    }
    
    .card-a:hover{
        color: #f00;
        transition:all .3s ease-in-out;
    }

    .paper-buttons{
        display: flex;
        flex-direction:row;
        font-size: 15px;
    }
    .paper-buttons div{
        width: 120px;
    }
    .paper-buttons button:hover{
        color: black;
        background-color: #ddd;    
        transition:all 0.5s ease-in-out;
        border: #111 solid 1px;
    }

    /*timeline*/

    .timeline-display{
        margin-top: 100px;
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
    }


.timeline-container {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    white-space: pre-line;
}

.timeline {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 150px;
    flex-wrap: wrap;
    justify-content: center;
}

.timeline-item {
    display: none;
}

.timeline-item.active {
    display: block;
}

.timeline-button {
    background-color: transparent;
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin: 5px;
    white-space: pre-line;
}

.timeline-button:hover {
    color: #FFB90F !important;
    font-size: 50px !important; 
}

.content-display {
    margin-bottom: 70px;
    margin-left: 20px;
    width: 950px;
    text-align: left;
    border-radius: 5px;
    display: grid;
    white-space: pre-line;
    font-size: 20px;
    font-weight:200;
}

/*Tower Of Hanoi*/


.game-display01 {
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 80%;
    margin-top: 130px;
}


.game {
    transition: 0.3s;
    width: 40%;
    padding: 5px;
    margin-right: 200px;
    margin-bottom: 130px;
    
}

.game01 {
    padding: 10px -10px 5px 5px;
    font-size: medium;
    font-weight: 600;
}
.game02 {
    padding: 10px;
    font-size: small;
    font-weight: 500;
}

.game-display02 {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.container {
    display: flex;
    justify-content: space-around;
    --_width: 400px;
    min-width: var(--_width);
    min-height: var(--_width);
    position: relative;
}
.floor{
    position: absolute;
    height: 30px;
    width: 600px;
    background-color: burlywood;
    bottom: -30px;
    border-radius: 100vh;
}


.tower {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: burlywood;
    width: 20px;
    height: var(--_width);
    border-radius: 100vh;
    position: relative;
    cursor: pointer;
}



.disk {
    width: 80%;
    height: 20px;
    background-color: black;
    border-radius: 100vh;
    margin: 1px 5px;
    cursor: pointer;
}

#message {
    padding-top: 70px;
    font-size: 20px;
    color: #FFB90F;
    font-weight: 400;
}


/*contact me*/

.contact-display{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 48%;
    margin-top: -130px;
}

.table-display{
    margin-top: 200px;
    display: flex;
    flex-direction:column;
    align-items: left;
    justify-content: center;
    width: 700px;
    font-size: medium;
    font-weight: 600;
}


input{
    height: 30px;
    width: auto;
    margin-bottom: 20px;
    margin-top: 3px;
    border-style: none;
    background-color: rgb(62, 62, 62);
    color: wheat;
    border-radius: 5vh;
    padding: 0px 20px;
    font-weight: 200;
}

textarea{
    
    width: auto;
    margin-bottom: 20px;
    margin-top: 3px;
    border-style: none;
    background-color: rgb(62, 62, 62);
    color: wheat;
    border-radius: 3vh;
    font-weight: 200;
    padding: 5px 20px;
}



.submit{
    width: 200px;
}

.submit:hover{
    color: black;
    background-color: #ddd;    
    transition:all 0.5s ease-in-out;
    border: #111 solid 1px;
}

.cont02{
    height: 30px;
}

/*FOOTER*/

footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}


.footer-left h3, .footer-right h3 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 800;
}

.footer-left p{
    font-size: 0.9rem;
}

.footer-left a{
    padding: 10px;
}

.footer-bottom {
    padding: 10px 0;
    font-size: 0.8rem;
}
